.tableContainer {
  padding: 1rem;
    background-color: #adb5bd;
  color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding: 1%;
  flex-direction: column;
}

table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid black;
    background: #cdd3d8;

  tr {
    :last-child {
      td {
        border-bottom: 0;;
      }
    }
    background-color: white;

  }
  thead tr:first-child {
    display: none;
  }

  th,
  td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    :last-child {
      border-right: 0;
    }
  }
  tbody tr:nth-of-type(odd){
    background: #cdd3d8;
  }
}