form {
  width: 500px;
  margin: 0 auto;
}

h1, h3 {
  text-align: center;
}

.container {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 14px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

tr {
  transition: all 0.2s ease-in-out;
}

tr:hover {
  background-color: #f5f5f5;
}

@media screen and (max-width: 600px) {
  table {
    font-size: 12px;
  }
  th, td {
    padding: 8px;
  }
}
